# --- R / RStudio ---
.Rhistory
.RData
.Ruserdata/
.Rproj.user/
*.Rproj

# --- OS / editor ---
.DS_Store
Thumbs.db

# --- Quarto / rendered temp ---
.quarto/
*_cache/
*_files/
*.html

# --- R Markdown / knitr temp ---
figure/
cache/
*.utf8.md
*.knit.md

renv/library/
renv/local/
renv/python/
renv/staging/

# Rplots.pdf
# *.log
